<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./styles/base.css" />
    <link rel="stylesheet" href="./styles/layout.css" />
</head>

<body>
    <main>

        <section class="books-view container">

            <div class="card-container">
                <img src="<%= books.image_url %>">
                <h2><%= books.title %></h2>
                <h3><%= books.authors %></h3>
                <p><%= books.summary %></p>
                <h4><%= books.isbn %></h4>

                <form action="/index" method="POST">
                    <input type="hidden" name="image_url" value="<%= item.image %>">
                    <input type="hidden" name="title" value="<%= item.title %>">
                    <input type="hidden" name="authors" value="<%= item.authors %>">
                    <input type="hidden" name="summary" value="<%= item.description%>">
                    <input type="hidden" name="isbn" value="<%= item.isbn %>">
                    <button type="submit">Return Home</button>
                </form>
            </div>

            


        </section>

    </main>
</body>

</html>