<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../../../public/styles/base.css"/>
    <link rel="stylesheet" href="../../../public/styles/layout.css"/>
</head>

<body>
    <main>
        <section class="books-view container">
            <ul id="book-list">

                <img src="<%= book.image_url %>">
                <h2><%= book.title %></h2>
                <h3><%= book.authors %></h3>
                <p><%= book.summary %></p>
                <h4><%= book.isbn %></h4>

            </ul>
        </section>
    </main>
</body>

</html>