<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../styles/base.css" />
    <link rel="stylesheet" href="../styles/layout.css" />
    <link rel="stylesheet" href="../styles/modules.css" />
</head>

<body>

    <%- include('../../layouts/header') %>

    <main>

        <section class="books-view container">

            <div class="card-container">
                <img src="<%= books.image_url %>">
                <h2><%= books.title %></h2>
                <h3><%= books.authors %></h3>
                <p><%= books.summary %></p>
                <h4><%= books.isbn %></h4>
                <h6><%= books.bookshelves %></h6>

                <form></form>
                
                <form action="/books/<%= books.id %>?_method=DELETE" method="POST">
                    <button>DELETE</button>
                </form>

                 <a href="./<%= books.id %>/edit">EDIT</a>
            </div>

            


        </section>

    </main>
</body>

</html>