<!DOCTYPE html>
<html>
    <head>
        <title>Book Results</title>
    </head>

    <body>

        <% books.forEach( item => { %>
        <img src="<%= item.image %>">
        <h2><%= item.title %></h2>
        <h3><%= item.authors %></h3>
        <p><%= item.description %></p>
        <h4><%= item.isbn %></h4>
        <% }) %>

    </body>
</html>