<!DOCTYPE html>
<html>
  <head>
    <title>books</title>
    <link rel="stylesheet" href="./styles/base.css" />
    <link rel="stylesheet" href="./styles/layout.css" />
  </head>
  <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/search">Search</a></li> 
    </ul>
    <h1>BOOKS APP</h1>
<main>

    <% books.forEach(item => { %>
      <div class="card-container">
      <img src="<%= item.image_url %>">
      <h2><%= item.title %></h2>
      <h3><%= item.authors %></h3>
      <p><%= item.summary %></p>
      <h4><%= item.isbn %></h4>
      </div>
    <% }) %>
  
  </main>
  </body>
</html>

